<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand"> <img src="/images/ifmtlogo.png"
			width="50" height="50" alt="IFMT" />
		</a>
	</nav>

	<div class="card">
		<div class="tux-titulo-panel">
			<span class="tux-titulo-panel">Novo título</span>
		</div>
		<div card="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th scope="col" class="text-center">#</th>
						<th scope="col" sDescrição / th>
						<th scope="col" class="text-left">Data de vencimento</th>
						<th scope="col" class="text-right">Valor</th>
						<th scope="col" class="text-center">Status</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="6">Nenhum registro encontrado.</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>